<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mtf.sok.mapper.BoardMapper">

    <sql id="boardSearchCondition">
        <if test="searchKeyword != null and searchKeyword != ''">
            <choose>
                <when test="searchType == 'title'">
                    AND TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
                </when>
                <when test="searchType == 'content'">
                    AND CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
                </when>
                <otherwise>
                    AND (TITLE LIKE CONCAT('%', #{searchKeyword}, '%') OR CONTENT LIKE CONCAT('%', #{searchKeyword}, '%'))
                </otherwise>
            </choose>
        </if>
    </sql>

    <select id="selectBoardList" resultType="org.mtf.sok.domain.BoardDTO">
        SELECT * FROM TB_BOARD
        WHERE BRD_TYPE = #{brdType} AND DEL_YN = 'N'
        <include refid="boardSearchCondition"/>
        ORDER BY IS_NOTICE DESC, REG_DT DESC
        LIMIT #{offset}, #{amount} </select>

    <select id="selectBoardTotalCount" resultType="int">
        SELECT COUNT(*) FROM TB_BOARD
        WHERE BRD_TYPE = #{brdType} AND DEL_YN = 'N'
        <include refid="boardSearchCondition"/>
    </select>

    <select id="selectBoard" resultType="org.mtf.sok.domain.BoardDTO">
        SELECT *
        FROM TB_BOARD
        WHERE BRD_SEQ = #{brdSeq}
          AND DEL_YN = 'N'
    </select>

    <insert id="insertBoard" parameterType="org.mtf.sok.domain.BoardDTO" useGeneratedKeys="true" keyProperty="brdSeq">
        INSERT INTO TB_BOARD (BRD_TYPE, CATEGORY, IS_NOTICE, TITLE, CONTENT, YOUTUBE_URL, REG_ID, REG_DT)
        VALUES (#{brdType}, #{category}, #{isNotice}, #{title}, #{content}, #{youtubeUrl}, #{regId}, NOW())
    </insert>

    <update id="updateBoard" parameterType="org.mtf.sok.domain.BoardDTO">
        UPDATE TB_BOARD
        SET CATEGORY    = #{category},
            IS_NOTICE   = #{isNotice},
            TITLE       = #{title},
            CONTENT     = #{content},
            YOUTUBE_URL = #{youtubeUrl},
            MOD_ID      = #{modId},
            MOD_DT      = NOW()
        WHERE BRD_SEQ = #{brdSeq}
    </update>

    <update id="deleteBoard">
        UPDATE TB_BOARD
        SET DEL_YN = 'Y',
            MOD_DT = NOW()
        WHERE BRD_SEQ = #{brdSeq}
    </update>

    <update id="updateViewCnt" parameterType="long">
        UPDATE TB_BOARD
        SET VIEW_CNT = VIEW_CNT + 1
        WHERE BRD_SEQ = #{brdSeq}
    </update>

    <insert id="insertFile" parameterType="org.mtf.sok.domain.FileDTO">
        INSERT INTO TB_FILE (
            REF_TABLE, REF_SEQ, ORG_FILE_NM, SAVE_FILE_NM,
            FILE_PATH, FILE_SIZE, FILE_EXT, REG_DT, DEL_YN
        ) VALUES (
                     #{refTable}, #{refSeq}, #{orgFileNm}, #{saveFileNm},
                     #{filePath}, #{fileSize}, #{fileExt}, NOW(), 'N'
                 )
    </insert>

    <select id="selectFiles" parameterType="org.mtf.sok.domain.FileDTO" resultType="org.mtf.sok.domain.FileDTO">
        SELECT * FROM TB_FILE
        WHERE REF_TABLE = #{refTable}
          AND REF_SEQ = #{refSeq}
          AND DEL_YN = 'N'
        ORDER BY FILE_SEQ ASC
    </select>

    <select id="selectPrevBoard" resultType="org.mtf.sok.domain.BoardDTO">
        SELECT BRD_SEQ, TITLE FROM TB_BOARD
        WHERE BRD_TYPE = #{brdType} AND DEL_YN = 'N' AND BRD_SEQ &lt; #{brdSeq}
        ORDER BY BRD_SEQ DESC LIMIT 1
    </select>

    <select id="selectNextBoard" resultType="org.mtf.sok.domain.BoardDTO">
        SELECT BRD_SEQ, TITLE FROM TB_BOARD
        WHERE BRD_TYPE = #{brdType} AND DEL_YN = 'N' AND BRD_SEQ &gt; #{brdSeq}
        ORDER BY BRD_SEQ ASC LIMIT 1
    </select>

</mapper>