<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mtf.sok.mapper.CertificateMapper">

    <sql id="certSearchCondition">
        <if test="searchType != null and searchType != ''">
            AND CERT_TYPE = #{searchType}
        </if>
        <if test="searchStatus != null and searchStatus != ''">
            AND ISSUE_STATUS = #{searchStatus}
        </if>
        <if test="searchKeyword != null and searchKeyword != ''">
            AND (APPLY_NM LIKE CONCAT('%', #{searchKeyword}, '%') OR PHONE LIKE CONCAT('%', #{searchKeyword}, '%'))
        </if>
    </sql>

    <select id="selectCertificateList" resultType="org.mtf.sok.domain.CertificateDTO">
        SELECT * FROM TB_CERTIFICATE_APPLY
        WHERE DEL_YN = 'N'
        <include refid="certSearchCondition"/>
        ORDER BY REG_DT DESC
        LIMIT #{offset}, #{amount}
    </select>

    <select id="selectCertificateTotalCount" resultType="int">
        SELECT COUNT(*) FROM TB_CERTIFICATE_APPLY
        WHERE DEL_YN = 'N'
        <include refid="certSearchCondition"/>
    </select>

    <select id="selectCertificate" resultType="org.mtf.sok.domain.CertificateDTO">
        SELECT *
        FROM TB_CERTIFICATE_APPLY
        WHERE CERT_SEQ = #{certSeq}
          AND DEL_YN = 'N'
    </select>

    <update id="updateCertificateStatus" parameterType="org.mtf.sok.domain.CertificateDTO">
        UPDATE TB_CERTIFICATE_APPLY
        SET ISSUE_STATUS = #{issueStatus},
        <choose>
            <when test="issueStatus == 'DONE'">
                ISSUE_DT = NOW(), REJECT_RSN = NULL
            </when>
            <when test="issueStatus == 'REJECT'">
                REJECT_RSN = #{rejectRsn}, ISSUE_DT = NULL
            </when>
            <otherwise>
                REJECT_RSN = NULL, ISSUE_DT = NULL
            </otherwise>
        </choose>
        WHERE CERT_SEQ = #{certSeq}
    </update>

    <update id="deleteCertificate">
        UPDATE TB_CERTIFICATE_APPLY
        SET DEL_YN = 'Y'
        WHERE CERT_SEQ = #{certSeq}
    </update>

    <insert id="insertCertificate" parameterType="org.mtf.sok.domain.CertificateDTO" useGeneratedKeys="true" keyProperty="certSeq">
        INSERT INTO TB_CERTIFICATE_APPLY (
            CERT_TYPE, ISSUE_STATUS, APPLY_NM, PHONE, EMAIL,
            USE_PURPOSE, BELONG_TO, REMARK, REG_DT, DEL_YN
        ) VALUES (
                     #{certType}, 'WAIT', #{applyNm}, #{phone}, #{email},
                     #{usePurpose}, #{belongTo}, #{remark}, NOW(), 'N'
                 )
    </insert>

    <select id="selectMyCertificateStatus" resultType="org.mtf.sok.domain.CertificateDTO">
        SELECT * FROM TB_CERTIFICATE_APPLY
        WHERE APPLY_NM = #{applyNm}
          AND PHONE = #{phone}
          AND DEL_YN = 'N'
        ORDER BY REG_DT DESC
    </select>

    <select id="checkDuplicateCertificate" parameterType="org.mtf.sok.domain.CertificateDTO" resultType="int">
        SELECT COUNT(CERT_SEQ)
        FROM TB_CERTIFICATE_APPLY
        WHERE CERT_TYPE = #{certType}
          AND APPLY_NM = #{applyNm}
          AND PHONE = #{phone}
          AND DEL_YN = 'N'
          AND ISSUE_STATUS IN ('WAIT', 'ING', 'DONE')
    </select>

    <select id="findCertificateForStatusCheck" parameterType="org.mtf.sok.domain.CertificateDTO" resultType="org.mtf.sok.domain.CertificateDTO">
        SELECT * FROM TB_CERTIFICATE_APPLY
        WHERE APPLY_NM = #{applyNm}
          AND PHONE = #{phone}
          AND EMAIL = #{email}
          AND CERT_TYPE = #{certType}
          AND DEL_YN = 'N'
        ORDER BY REG_DT DESC
        LIMIT 1
    </select>

</mapper>