<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mtf.sok.mapper.DonationMapper">

    <select id="selectDonationSummary" resultType="org.mtf.sok.domain.DonationDTO">
        SELECT COUNT(PAY_SEQ)            AS totalCount,
               COALESCE(SUM(PAY_AMT), 0) AS totalAmt
        FROM TB_DONATION_PAYMENT
        WHERE MBR_SEQ = #{mbrSeq}
          AND PAY_STATUS = 'DONE'
    </select>

    <select id="selectDonationList" resultType="org.mtf.sok.domain.DonationDTO">
        SELECT *
        FROM TB_DONATION_PAYMENT
        WHERE MBR_SEQ = #{mbrSeq}
          AND PAY_STATUS = 'DONE'
        ORDER BY PAY_DT DESC
    </select>

    <insert id="insertDonation" parameterType="org.mtf.sok.domain.DonationDTO">
        INSERT INTO TB_DONATION_PAYMENT (ORDER_ID, MBR_SEQ, PAY_TYPE, PAY_AMT, PAY_STATUS, CHEER_MSG, REG_DT,
                                         REGULAR_ROUND)
        VALUES (#{orderId}, #{mbrSeq}, #{payType}, #{payAmt}, 'WAIT', #{cheerMsg}, NOW(), 1)
    </insert>

    <select id="selectDonationByOrderId" parameterType="string" resultType="org.mtf.sok.domain.DonationDTO">
        SELECT *
        FROM TB_DONATION_PAYMENT
        WHERE ORDER_ID = #{orderId}
    </select>

    <update id="updateDonationStatus" parameterType="org.mtf.sok.domain.DonationDTO">
        UPDATE TB_DONATION_PAYMENT
        SET PAY_STATUS  = #{payStatus},
            PAY_METHOD  = #{payMethod},
            PAYMENT_KEY = #{paymentKey},
            PAY_DT      = NOW()
        WHERE ORDER_ID = #{orderId}
    </update>

</mapper>