<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mtf.sok.mapper.VolunteerMapper">

    <select id="selectVolunteerList" resultType="org.mtf.sok.domain.VolunteerDTO">
        SELECT * FROM TB_VOLUNTEER_APPLY
        WHERE DEL_YN = 'N'
        <if test="searchSupportArea != null and searchSupportArea != ''">
            AND SUPPORT_AREA = #{searchSupportArea}
        </if>
        <if test="searchKeyword != null and searchKeyword != ''">
            AND (APPLY_NM LIKE CONCAT('%', #{searchKeyword}, '%')
            OR EVENT_NM LIKE CONCAT('%', #{searchKeyword}, '%'))
        </if>
        ORDER BY REG_DT DESC
    </select>

    <select id="selectVolunteer" resultType="org.mtf.sok.domain.VolunteerDTO">
        SELECT * FROM TB_VOLUNTEER_APPLY
        WHERE VOL_SEQ = #{volSeq} AND DEL_YN = 'N'
    </select>

    <update id="updateVolunteer" parameterType="org.mtf.sok.domain.VolunteerDTO">
        UPDATE TB_VOLUNTEER_APPLY
        SET APPLY_NM = #{applyNm},
            PHONE = #{phone},
            APPLY_CNT = #{applyCnt},
            FREQ_TYPE = #{freqType}
        WHERE VOL_SEQ = #{volSeq}
    </update>

    <update id="deleteVolunteer">
        UPDATE TB_VOLUNTEER_APPLY
        SET DEL_YN = 'Y'
        WHERE VOL_SEQ = #{volSeq}
    </update>

</mapper>